@import "tailwindcss";

@theme {
  --color-gym-gold: #D9A616;
  --color-gym-black: #1A1A1A;
  --color-gym-dark: #2D2D2D;
  --color-gym-light: #F2F2F2;
}

.dark {
  background-color: var(--color-gym-black);
  color: white;
}